:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --white: #fff;
  --blue: hsl(212, 80%, 20%);
  --darkblue: hsl(212, 80%, 10%);
  --darkgreen: hsl(146deg, 50%, 20%);
  --lightgreen: hsl(146deg, 50%, 90%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--darkgreen);
  background-color: var(--lightgreen);
}

a[href] {
  color: var(--blue);
}

a[href]:visited {
  color: var(--darkblue);
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 100vh;
}

/* Header */
header {
  display: flex;
  flex-flow: column;
  gap: 1em;
  flex: 1 0 150px;
  padding: 2em;
  box-shadow: 0 0 0.5em rgb(0 5 0 / 10%), 0.2em 0 10em rgb(0 5 0 / 15%);
  clip-path: polygon(1% 0%, 200% 0%, 200% 200%, 1% 200%);
}

.home {
  font-size: 2rem;
  white-space: nowrap;
}

.home :hover :not(.logo, .emoji) {
  text-decoration: underline;
}

.home a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-decoration: none;
}

.home .logo {
  font-size: 3.5rem;
}

.home .emoji {
  font-size: 4rem;
  vertical-align: middle;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
}

@media (min-width: 500px) {
  .home a {
    align-items: flex-end;
  }
  .nav {
    flex-flow: column;
    align-items: flex-end;
  }
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Main content */
.tmpl-home {
  flex: 2 0 200px;
  padding: 2em 2em 0;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item {
  counter-increment: start-from -1;
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em;
  /* 13px /16 */
  color: var(--darkgray);
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em;
  /* 4px 3px /16 */
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}

.tmpl-home .postlist-link {
  font-size: 1.1875em;
  /* 19px /16 */
  font-weight: 700;
}

/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em;
  /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em;
  /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em;
  /* 3px /12 */
  text-decoration: none;
}

a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em;
  /* 16px 10px /16 */
}

.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
