:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --white: #fff;
  --blue: hsl(212, 100%, 20%);
  --darkblue: hsl(212, 80%, 10%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--lightgray);
}

a[href] {
  color: var(--blue);
}

a[href]:visited {
  color: var(--darkblue);
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}

nav ul {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: var(--darkblue);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* Header */
header {
  display: grid;
  gap: 1rem;
  padding: 2em 1.5em;
  box-shadow: 0 0 0.5em rgb(0 5 0 / 10%), 0 0 10em rgb(0 5 0 / 15%);
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h1 a {
  display: grid;
  justify-items: center;
  text-decoration: none;
}

.logo {
  font-size: 3.5rem;
}

/* Nav */
nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2em;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Main */
main {
  padding: 4em 1.5em;
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(min-content, 30rem);
  grid-auto-rows: min-content;
  gap: 1em;
}

/* Footer */

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
  display: grid;
  grid-auto-rows: auto;
  gap: 2em;
}

.postlist-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.7em;
}

.postlist-date {
  font-size: 0.8rem;
  color: var(--darkgray);
  word-spacing: -0.1em;
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}

.home .postlist-link {
  font-size: 1.2rem;
  font-weight: 700;
}

/* Tags */
.post-tags {
  flex: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.5em;
}

.post-tag {
  text-transform: uppercase;
  font-size: 0.6em;
  padding: 0.2em 0.4em;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0.25em;
  text-decoration: none;
}

a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em;
}

.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
